#main-page {
    overflow-x: hidden;
}

body {
  background-color: black;
  width: 99%;
  height: 100%;
  color: white;

  font-family: sans-serif;
  font-size: 60px;
}

h1 {
  text-align: center;
}

.inputs {
  height: 75px;
}

#map {
  width: 80%;
}

#console {
  height: 400px;
  width: 80%;
  --size: 2;
}

input {
  box-sizing: border-box;
  border: 0;
  height: 70px;
  border-radius: 2px;
  width: 10%;
  background-color: black;
  font-size: 50%;
  color: white;
  border: solid 3px white;
  position: absolute;
  text-align: center;
}

button {
  margin: 10px;
  background-color: white;
  width: 100%;
  height: 70px;
  font-family: monospace;
  font-size: 55px;
}

.invisible {
  visibility: hidden;
}

#reward {
  text-align: center;
}

#overlay {
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 180%;
  text-align: center;
  background-color: black;

  -webkit-transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -ms-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
   opacity: 1;
}

#overlay.fade {
     opacity: 0;
}

#center {
  position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
}

#spinner {
  margin-top : 150px;
}
